<div class="hero-unit">
  <div>
    <h1>Hi</h1>
  </div>
        <p>
            SOC VIDEO ANNOTATION TOOL
        </p>
        <button id="newSession" class="btn btn-primary"> New Session </button>
        <button id="loadSession" class="btn btn-primary"> Load Session </button>
</div>


<div id="overlay-back"></div>
<div id="overlay">
    <form>
        <div class="form-group">
            <label for="objectType">Object Label</label>
            <select class="form-control" id="objectType" placeholder="Label" name="label">
                <option value="person">Person</option>
                <option value="animal">Animal</option>
            </select>
        </div>
        <button id="submitObject" type="submit" class="btn btn-success">Submit</button>
        <button id="cancelObject" class="btn btn-danger">Cancel</button>
    </form>
</div>

<div class="videos col-lg-10">
    <h2>Videos</h2>
    <div id="videoControl">
        <button id="playButton" class="btn btn-info">Play</button>
        <button id="pauseButton" class="btn btn-info">Pause</button>
        <input type="range" value="0" id="scrub" />
    </div>
</div>

<div class="objects col-lg-2">
    <h2>Objects</h2>
    <button id="newObject" class="btn btn-success">Add</button>
    <ol></ol>
</div>
