<div class="jumbotron">
  <h1>Query Toolkit</h1>
  <p>This toolkit is built for video annotation. You can mark bounding boxes for objects, attributing objects, and genearte query for videos.</p>
  <button id="newSession" class="btn sessionButton"> New Session </button>
  <button id="loadSession" class="btn btn-primary sessionButton"> Load Session </button>
</div>
<div class="tableDiv col-md-6">
  <table id="socTable" class="table table-hover">
    <caption>
      Choose a SOC to annotate
    </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>URL</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<div class="tableDiv col-md-6">
  <table id="sessionTable" class="table table-hover">
    <caption>
      Choose a Session to view/update
    </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>socId</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
